@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --text-color-1: rgba(45, 55, 72, 1);
  --font-sans: "Nunito", sans-serif;
  --background-color-1: rgba(226, 232, 240, 1);
  --background-color-2: rgba(58, 112, 192, 1);
  --success-color: #54a73f;
  --warning-color: #d0021b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color-1: rgba(45, 55, 72, 1);
    --background-color-2: rgba(58, 112, 192, 1);
  }
}

@layer utilities {
  @media (max-width: 1440px) {
    .w-responsive {
      width: 1200px;
    }
  }

  @media (min-width: 1441px) {
    .w-responsive {
      width: 1400px;
    }
    .m-responsive{
      margin: 0 5vw;
    }
  }
}


body {
  color: rgb(var(--foreground-rgb));
}
