.container {
  max-width: 80vw;
  border-collapse: separate;
  border-spacing: 0;
}
.tableHeader{
  background-color: var(--background-color-1);
  border-top: 1px solid #E2E8F0;
  border-radius: 16px 16px 0px 0px;
}
/* Scrollable tbody */
.tableBody {
  border-radius: 0px 0px 8px 8px;
  display: block;
  max-height: 200px;
  margin-top: 0px;
  border: 1px solid#E2E8F0;
  overflow-y: auto;
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Row display */
.tableRow {
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid#E2E8F0;
}

  .tableHeaderCell{
    font-family: var(--font-sans);
    font-weight: 600;
    font-size: 14px;
  }
  /* Shared cell styles */
  .tableHeaderCell,
  .tableItem {
    color: var(--text-color-1);   
    font-family: var(--font-sans);
    font-size: 13px;
    box-sizing: border-box;
    text-align: left;
    overflow-wrap: break-word;
    height: 50px;
    padding: 10px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }
.tableHeaderCell:last-child,
.tableItem:last-child {
  border-right: none;
}

.tableHeaderCell:nth-child(2),
.tableItem:nth-child(2) {
  max-width: 139px;
}
/* Bỏ viền dưới ở hàng cuối cùng */
.tableRow:last-child{
  border-bottom: none;
}

.tableHeaderCell:first-child,
.tableItem:first-child {
  padding-left: 10px;
}